<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/base_login}">

<head>
  <title th:text="#{g.user}">User</title>

  <link rel="stylesheet" type="text/css" th:href="@{/jsonviewer/jquery.json-viewer.css}">
  <script th:src="@{/jsonviewer/jquery.json-viewer.js}"></script>
  <script th:src="@{/js/getJSON.js}"></script>

</head>

<body>
  <div layout:fragment="contents" class="ui basic segment">

    <!-- パンくず -->
    <div th:replace="~{login/admin/user/inc/breadcrumb::breadcrumb}"></div>

    <!-- 入力フォーム -->
    <div class="ui segment">

      <div class="ui one column very relaxed grid grid_compare">

        <div class="column col_compare_src">



          <!--form ja-jp -->
          <form method="post" th:action="@{/login/admin/user/password/post}" th:object="${passwordForm}"
            class="ui small form">

            <div class="ui negative message" th:if="${#fields.hasErrors('*')}">
                    <div class="header">[[#{msg.error}]]</div>
                    <!-- <ul>
                      <li th:each="error : ${#fields.detailedErrors()}" th:text="${error.message}" class="err"></li>
                    </ul> -->
            </div>

                <div class="ui positive message" th:if="${is_success}">
                  <div class="header" th:text="#{msg.update.success}">Success</div>
                </div>
                <div class="ui positive message" th:if="${is_error}">
                  <div class="header" th:text="#{msg.error}">Error!</div>
                </div>


            <div class="required field">
              <label for="">[[#{view.login.now}]]</label>
              <input type="text" name="before" th:value="*{before}" />
              <ul class="error"><li th:each="err : ${#fields.errors('before')}" th:text="${err}" /></ul>
            </div>

            <div class="required field">
              <label for="">[[#{view.login.new}]]</label>
              <input type="text" name="after" placeholder="input password" th:value="*{after}" />
              <ul class="error">
                <li th:each="err : ${#fields.errors('after')}" th:text="${err}" /></ul>
            </div>

            <div class="required field">
              <label for="">[[#{view.login.again}]]</label>
              <input type="text" name="again" placeholder="again" th:value="*{again}" />
              <ul class="error">
                <li th:each="err : ${#fields.errors('again')}" th:text="${err}" /></ul>
            </div>



            <button class="ui tiny positive button" type="submit">
              <i class="save icon"></i>Save
            </button>
            <a class="ui tiny button" th:href="@{|/login/admin/user/|}"><i class="list ul icon"></i>[[#{msg.return.list}]]</a>

            <div>
              <!--debug(新規のときはidをパラメーターに入れない!!)-->
              id:<input type="text" name="id" th:if="*{id}" th:value="*{id}" />
            </div>
          </form>
        </div>

        <div class="column col_compare_dst" style="display:none">
          <h4 class="ui dividing header">
            en-jp
            <a class="ui mini fitted label act_compare_close"><i class="x icon"></i>[[#{msg.close}]]</a>
          </h4>


        </div>
      </div>

      <div class="ui vertical divider divider_compare" style="display:none">
        <i class="columns grey icon"></i>
      </div>
    </div>


</div><!-- end contents -->
</body>
</html>
