<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout/base_login_top}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!--start required-->
  <style>
    .true {
      color: green;
    }

    .false {
      color: red;
    }

  </style>
  <!--end required-->
</head>

<body >
  <div layout:fragment="contents" class="ui middle aligned center aligned grid six wide column">
    <p>&nbsp;</p>
    <div class="ui segment ten wide column left aligned" style="margin-top:25px;">
  <!--start required--->
  <div id="app">

    <h3>キャッシュ全件</h3>
    <ul>
      <li>確認のためFQDN(ホスト名+ドメイン名)を入力してください。(ex.www.smcworld.com)</li>
    </ul>
    <form v-on:submit.prevent="deleteCache">
      <input type="text" rows="10" cols="100" v-model="domain">
      <br>
      <input type="submit" value="送信" v-bind:disabled="disabled">

      <p v-if="result">
        Success: <span :class="`${result.Success}`">{{result.Success}}</span> <br>
        is_ok: <span :class="`${result.is_ok}`">{{result.is_ok}}</span>
      </p>
      <p v-if="error">
        APIに接続できません。
      </p>
    </form>
    <hr>
    <p>■ステータス(Status)について</p>
    <ul>
      <li>Success,is_ok: true 削除完了</li>
    </ul>
    <p><a href="deleteCache">通常削除</a>
    </p>

  </div>
  <!--emd required--->

  <!--start required -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js" integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    const app = Vue.createApp({
      el: "#app",
      data() {
        return {
          result: "",
          domain: "",
          disabled: true,
          error: false,
        }
      },
      watch: {
        domain(newValue,oldValue) {
          if (this.domain != null && this.domain.trim().length > 0) {
            this.disabled = false;
          }
        }
      },
      mounted() {
        //comment for production
        //this.domain = "www-tmp.smcworld.com";
      },
      methods: {
        deleteCache: function () {

          this.result = "";
          this.disabled = true;
          this.error = false;

          if (this.domain == null || this.domain.length == 0) {
            return;
          }

          if (!window.confirm("全件削除してよろしいですか?")) {
            this.disabled = false;
            return;
          }
		  var gslbUser = "cdncache";
          var gslbPass = "vHFQSTt3pFk3dv0RkA9XHRxrP3vs251F";
          var url = "https://gslb.smcworld.com/proxy2/api/v1/deleteallcache";
          //url = "http://localhost:3000/proxy/api/v1/deleteallcache"
          axios.post(url,{ Domain: this.domain, }, { auth: {
			      username: gslbUser,
			      password: gslbPass}
		    }).then((response) => {

            //console.log(response.data);
            this.result = response.data;
            this.disabled = false;

          }).catch((error) => {
            this.error = "true";
            this.disabled = false;

          });

        },

        clearForm: function () {
          this.urls = "";
          this.disabled = true;
        }
      }
    }).mount("#app");


  </script>
  <!--end required-->
    </div>
  </div><!-- end contents -->
</body>

</html>
