<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout/base_login_discontinued}">

<head>
  <title th:text="#{g.lang}">Lang</title>
  <script th:src="@{/clipboard/clipboard.min.js}"></script>


  <script>

    $(function () {
      new ClipboardJS('.copy_id');
    });

  </script>


</head>

<body>
  <div layout:fragment="contents" class="ui basic segment">

    <!-- パンくず -->
    <div th:replace="~{login/admin/discontinued/template/inc/breadcrumb::breadcrumb}"></div>

    <script>
      // for sort ========
      $(function () {
        $('.sort_icons').hide();


        $('.action_new')
          .popup({
            popup: $('.custom.popup'),
            on: 'click',
            inline: true,
            hoverable: true,
            position: 'bottom left'
          });
        $('.action_sort_save')
          .click(function () {
          	alert("click" + $('.action_sort_save').css('display'));
            if ($('.action_sort_save').css('display') != 'none') { // キャンセルを押した場合もclick()が発火するため
              var text = "";
              //並び順の取得
              $('#sortable td.ids').each(function () {
                text = text + $(this).html() + "-";
              });
              text = "[parent]" + $('#parentId').val() + "-" + text;

              $('#ids').val(text);
              $('#sortForm').submit();
            }
          });

        $(".action_sort_cancel").click(function () {
          $(".action_new , .action_sort").show();
          $(".action_sort_save").hide();
          $('#sortable tr').removeClass("ui warning");
          $('#sortable').sortable("destroy");
        })
      });


      // for delete ==========================
      $(function () {
        $(".act_delete").click(function () {
          $(".mod_delete").modal({
            centered: false,
            onDeny: function () {
              //window.alert('Wait not yet!');
              //return false;
            },
            onApprove: function () {
              window.alert('Approved!');
            }
          }).modal("show");
        })


      });

    </script>


    <!--mordal delete-->
    <div class="ui small modal mod_delete">
      <div class="header">
        [[#{view.form.alert.confirm.delete}]]
      </div>
      <div class="content">[[#{view.form.alert.delete.message}]]</div>
      <div class="actions">
        <div class="ui mini green approve button">
          [[#{view.form.alert.approve}]]
        </div>
        <div class="ui mini cancel button">
          [[#{view.form.alert.cancel}]]
        </div>
      </div>
    </div>

    <!-- disp message or error ========================= -->
    <div class="ui positive message" th:if="${param.message}">[[${param.message}]]</div>
    <div class="ui negative message" th:if="${param.error}">[[${param.error}]]</div>
    <!-- list table ================================== -->
    <table class="ui selectable small striped table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Memo</th>
          <th>Version</th>
          <th>BaseLang</th>
          <th>Active</th>
          <th>MTime</th>
          <th class="two wide right aligned">Actions</th>
        </tr>
      </thead>
      <tbody class="">
        <tr>
          <td colspan="7" class="ui right aligned">
            <div th:replace="~{login/admin/discontinued/template/inc/list_button::list_button}"></div>
          </td>
        </tr>
      </tbody>
      <tbody class="" id="sortable">

        <tr class="repeat" th:if="${list!=null}" th:each="u : ${list}" th:object="${u}">

          <td class="align-middle">
            <i class="sort_icons bars icon"></i>
            <a href="/login/admin/discontinued/template/edit.html" th:href="@{|/login/admin/discontinued/template/*{id}|}"
              class="category_sub" th:text="*{name}"><i class="folder icon category "></i>Name</a>
            <!-- state 表示 -->
            <!-- if と 事前評価によるmessageの呼び出し -->
            <!--
                    <span th:if="*{state.toString() == 'TEST'}" class="ui tiny label" th:text="#{ModelState.__*{state}__}"></span>
                    <span th:if="*{state.toString() == 'PROD'}" class="ui tiny teal label" th:text="#{ModelState.__*{state}__}"></span>
                    -->
            <!-- Version表示 -->
           </td>
           <td class=""> [[*{memo}]] </td>
           <td class="">  [[*{version}]] </td>
           <td class=""> [[*{baseLang}]] </td>
           <td class=""> [[*{active}]] </td>
          <td class="">
            <span th:text="*{#calendars.format(mtime,'yyy/MM/dd HH:mm')}">2019/06/29 18:16</span>
          </td>
          <td class="single line right aligned">
            <a href="/login/admin/discontinued/template/edit.html" th:href="@{|/login/admin/discontinued/template/*{lang}|}"><i class="file alternate icon"></i>[[#{act.template}]]</a>

          </td>
        </tr>
      </tbody>
      <tbody class="">
        <tr>

          <td colspan="7" class="ui right aligned">
            <div th:replace="~{login/admin/discontinued/template/inc/list_button::list_button}"></div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>Memo</th>
          <th>Version</th>
          <th>BaseLang</th>
          <th>Active</th>
          <th>MTime</th>
          <th></th>
        </tr>
      </tfoot>
    </table>



  </div><!-- end contents -->
</body>

</html>
