<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/base_login_discontinued}">

<head>
  <title th:text="#{g.series}">Series</title>

  <link rel="stylesheet" type="text/css" th:href="@{/jsonviewer/jquery.json-viewer.css}">
  <script th:src="@{/jsonviewer/jquery.json-viewer.js}"></script>
  <script th:src="@{/js/getJSON.js}"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/handsontable-7.4.2/handsontable.full.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/handsontable-7.4.2/custom.css}">
  <script th:src="@{/handsontable-7.4.2/handsontable.full.min.js}"></script>

</head>

<body>
  <div layout:fragment="contents" class="ui basic segment">

    <!-- パンくず -->
    <div th:replace="~{login/admin/discontinued/series/inc/breadcrumb::breadcrumb}"></div>

    <!-- 比較グリッド表示用 -->
    <script>
      $(function () {
        //$(".col_compare_src").css('width','100%');
        //$(".col_compare_dst").hide();

        //comapre action
        $(".act_compare").click(function () {
          $(".grid_compare").removeClass("one column");
          $(".grid_compare").addClass("two column");
          $(".col_compare_dst").show();
          $(".divider_compare").show();
          $(".hidden.message").show();
        });
        //comapre action
        $(".act_compare_close").click(function () {
          $(".col_compare_dst").hide();
          $(".divider_compare").hide();
          $(".grid_compare").removeClass("two column");
          $(".grid_compare").addClass("one column");
          $(".hidden.message").hide();
          compare_close_click();
        });
      });
      // for archive to test ==========================
      var url = '[[@{/login/admin/discontinued/series/}]]';
      var urlAPI = '[[@{/login/admin/discontinued/api/series/}]]';
      var cateAPI = '[[@{/login/admin/discontinued/api/category/}]]';
      $(function () {
        $("#button_archive").click(function () {
          var id = $("#compare_id").val();
          $(".mod_archive").modal({
            centered: false,
            onDeny: function () {
              //window.alert('Wait not yet!');
              //return false;
            },
            onApprove: function () {
              //window.alert('Approved!' + id);
              location.href= url + "state?state=TEST&id="  + id ;
            }
          }).modal("show");
          return false;
        })
      });
      function compare(lang, id, state) {
          $.ajax({
          	  type: 'GET',
          	  url: cateAPI + 'lang/'+lang+'/'+state,
          	  dataType: 'json'
          })
          .then(function(json) {
        	  $('#compare_category').html("");
    	      for(var k in json){
		        $('#compare_category').append( "<option value='" + json[k].id + "' >"+ json[k].name+"</option>");
    	      }
    	  },
    	  function() {
    	    console.log('読み込みに失敗しました');
    	  });
          $.ajax({
          	  type: 'GET',
          	  url: urlAPI + id+'/'+lang,
          	  dataType: 'json'
          })
          .then(function(json) {
  	    	$('#compare_id').val(json.id);
			$('#compare_disp').text(json.lang);
			$('#compare_name').val(json.name);
			$('#compare_seriesName').val(json.seriesName);
			$('#compare_seriesId').val(json.seriesId);
			$('#compare_series').val(json.series);
			$('#compare_newSeries').val(json.newSeries);
	    	$('#compare_image').val(json.image);
	    	$('#compare_newImage').val(json.newImage);
	    	$('#compare_catalogLink').val(json.catalogLink);
	    	$('#compare_newCatalogLink').val(json.newCatalogLink);
	    	$('#compare_manualLink').val(json.manualLink);
	    	$('#compare_compatibility').val(json.compatibility);
	    	$('#compare_other').val(json.other);
	    	$('#compare_caution').val(json.caution);
	    	$('#compare_comparison').val(json.comparison);
	    	$('#compare_lang').val(json.lang);
	    	$('#compare_date').val(json.date);
	    	$('#compare_detail').val(json.detail);
	    	$('#compare_active').prop('checked',json.active);
	    	$('#compare_stateRefId').val(json.stateRefId);
	    	$('#compare_langRefId').val(json.langRefId);
	    	$('#compare_order').val(json.order);
	    	$('#compare_versionLog').val(json.versionLog);
	        compare_click();
  	    	$('#compare_category').val(json.categoryId);
	        if (json.state == "ARCHIVE") {
	        	$('#button_archive').show();
	        } else {
	        	$('#button_archive').hide();
	        }
          },
          function() {
            console.log('読み込みに失敗しました');
          });
      } // end compare()

    </script>

    <!--mordal Archive-->
    <div class="ui small modal mod_archive">
      <div class="header">
        [[#{view.form.alert.confirm.archive}]]
      </div>
      <div class="content">
        [[#{view.form.alert.series.archive.back.message}]]
      </div>
      <div class="actions">
        <div class="ui mini green approve button">
          [[#{view.form.alert.approve}]]
        </div>
        <div class="ui mini cancel button">
          [[#{view.form.alert.cancel}]]
        </div>
      </div>
    </div>

    <!-- 言語選択 -->
    <div class="ui secondary pointing menu" th:if="(${seriesForm.id != null})">

      <a th:each="lang : ${application.LANG_VIEW_LIST}" th:if="${SessionUser.isEditableLang(__lang.name__) and langRefList != null}"
        th:class="(${SessionScreenState.lang == lang.name})? 'active selected item' : 'item'"
        th:href="${#lists.contains(langRefList, lang.name)}
         ? '/webcatalog/login/admin/discontinued/series/edit/'+${langBaseId}+'/lang/'+${lang.name}
         : '/webcatalog/login/admin/discontinued/series/new/'+${langBaseId}+'/lang/'+${lang.name}+'/category/'+${categoryId}">
        <i th:class="${#lists.contains(langRefList, lang.name)} ? 'linkify icon' : 'icon'"></i>[[${lang.name}]]</a>
      <a class='active selected item' th:if="${langRefList == null}"  >[[${SessionScreenState.lang}]]</a>

      <div class="right menu">
        <div class="item">
          <div class="ui icon top right pointing dropdown">
            <i class="columns icon"></i> [[#{view.form.compare}]] <i class="dropdown icon"></i>
            <div class="menu">
              <!--  <a th:each="lang : ${application.LANG_VIEW_LIST}" th:if="${SessionUser.isEditableLang(__lang.name__) and langRefList != null}"  -->
              <a th:each="lang : ${application.LANG_VIEW_LIST}"
               th:attr="onclick='compare(\'' + ${lang.name} + '\',\'' + ${seriesForm.id} + '\',\'' + ${seriesForm.state} + '\');'"
               th:class="${#lists.contains(langRefList, lang.name)} ? 'item act_compare' : 'item disabled'">[[${lang.name}]]</a>
              <a th:if="(${diffSeries != null} and ${diffSeries.state} == 'TEST')" class="item act_compare"
                th:attr="onclick='compare(\'' + ${seriesForm.lang} + '\', \'' + ${diffSeries.id} + '\',\'' + ${seriesForm.state} + '\');'" >
                <span class="ui green label">[[#{ModelState.TEST}]]</span>[[${#calendars.format(diffSeries.mtime,'yyy/MM/dd HH:mm')}]]</a>
              <a th:if="(${diffSeries != null} and ${diffSeries.state} != 'TEST')" class="item act_compare"
                th:attr="onclick='compare(\'' + ${seriesForm.lang} + '\', \'' + ${diffSeries.id} + '\',\'' + ${seriesForm.state} + '\');'" >
                <span class="ui blue label">[[#{ModelState.PROD}]]</span>[[${#calendars.format(diffSeries.mtime,'yyy/MM/dd HH:mm')}]]</a>
              <a th:if="${listArchive != null}" th:each="archive : ${listArchive}"
                class="item act_compare" th:attr="onclick='compare(\''+${seriesForm.lang}+'\', \'' + ${archive.id} + '\',\'' + ${seriesForm.state} + '\');'" >
                <i class="history icon"></i>[[${#calendars.format(archive.mtime,'yyy/MM/dd HH:mm')}]]</a>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- 入力フォーム -->
    <div class="ui segment">

      <div class="ui one column very relaxed grid grid_compare">

        <div class="column col_compare_src">

          <h4 class="ui dividing header">[[${seriesForm.lang}]]</h4>

          <!--form ja-jp -->
          <form method="post" th:action="@{/login/admin/discontinued/series/post}" th:object="${seriesForm}"
            class="ui small form">

            <div class="ui negative message" th:if="${#fields.hasErrors('*')}">
                    <div class="header">[[#{msg.error}]]</div>
                    <!-- <ul>
                      <li th:each="error : ${#fields.detailedErrors()}" th:text="${error.message}" class="err"></li>
                    </ul> -->
            </div>

                <div class="ui positive message" th:if="${is_success}">
                  <div class="header" th:text="#{msg.update.success}">Success</div>
                </div>
                <div class="ui positive message" th:if="${param.success}">
                  <div class="header" th:text="#{msg.update.success}">Success</div>
                </div>
                <div class="ui negative message" th:if="${param.notTest}">
                  <div class="header" th:text="#{msg.update.not.test}">not TEST</div>
                </div>
                <div class="ui negative message" th:if="${is_error}">
                  <div class="header" th:text="#{msg.error}">Error!</div>
                </div>


            <div class="required field" >
              <label for="">Category</label>
              <select class="custom-control-select" name="categoryId" >
                <option value="">---</option>
                <option th:each="ca : ${listCategory}" th:if="${ca.name != 'root'}" th:selected="${ca.id} == *{categoryId}" th:value="${ca.id}">[[${ca.name}]]</option>
              </select>
            </div>

            <div  class="required field">
              <label for="">Discontinued Series Name</label>
              <input type="text" name="seriesName" th:value="*{seriesName}" />
              <ul class="error"><li th:each="err : ${#fields.errors('seriesName')}" th:text="${err}" /></ul>
            </div>

            <div  class="required field">
              <label for="">Discontinued Series ID</label>
              <input type="text" name="seriesId" th:value="*{seriesId}" />
              <ul class="error"><li th:each="err : ${#fields.errors('seriesId')}" th:text="${err}" /></ul>
            </div>

            <div  class="required field">
              <label for="">Discontinued Name</label>
              <input type="text" name="name" th:value="*{name}" />
              <ul class="error"><li th:each="err : ${#fields.errors('name')}" th:text="${err}" /></ul>
            </div>

            <div  class="required field">
              <label for="">Discontinued Products</label>
              <input type="text" name="series" th:value="*{series}" />
              <ul class="error"><li th:each="err : ${#fields.errors('series')}" th:text="${err}" /></ul>
            </div>

            <div class="required field">
              <label for="">Replacement Products</label>
              <input type="text" name="newSeries" th:value="*{newSeries}" />
              <ul class="error"><li th:each="err : ${#fields.errors('newSeries')}" th:text="${err}" /></ul>
            </div>

            <div class="required field">
              <label for="">Time of discontinuation</label>
              <input type="text" name="date" th:value="*{date}" />
              <ul class="error"><li th:each="err : ${#fields.errors('date')}" th:text="${err}" /></ul>
            </div>

            <div  class="field">
              <label for="">Discontinued image</label>
              <input type="text" name="image" th:value="*{image}" />
              <ul class="error"><li th:each="err : ${#fields.errors('image')}" th:text="${err}" /></ul>
            </div>
            <div  class="field">
              <label for="">Replacement image</label>
              <input type="text" name="newImage" th:value="*{newImage}" />
              <ul class="error"><li th:each="err : ${#fields.errors('newImage')}" th:text="${err}" /></ul>
            </div>

            <div  class="field">
              <label for="">Discontinued catalogLink</label>
              <input type="text" name="catalogLink" th:value="*{catalogLink}" />
              <ul class="error"><li th:each="err : ${#fields.errors('catalogLink')}" th:text="${err}" /></ul>
            </div>
            <div  class="field">
              <label for="">Replacement catalogLink</label>
              <input type="text" name="newCatalogLink" th:value="*{newCatalogLink}" />
              <ul class="error"><li th:each="err : ${#fields.errors('newCatalogLink')}" th:text="${err}" /></ul>
            </div>

            <div class="field">
              <label for="">manualLink</label>
              <input type="text" name="manualLink" th:value="*{manualLink}" />
              <ul class="error"><li th:each="err : ${#fields.errors('manualLink')}" th:text="${err}" /></ul>
            </div>

            <div class="field">
              <label for="">Mounting interchangeability</label>
              <input type="text" name="compatibility" th:value="*{compatibility}" />
              <ul class="error"><li th:each="err : ${#fields.errors('compatibility')}" th:text="${err}" /></ul>
            </div>

            <div class="field">
              <label for="">other</label>
              <input type="text" name="other" th:value="*{other}" />
              <ul class="error"><li th:each="err : ${#fields.errors('other')}" th:text="${err}" /></ul>
            </div>

            <div class="field">
              <label for="">Precautions</label>
              <input type="text" name="caution" th:value="*{caution}" />
              <ul class="error"><li th:each="err : ${#fields.errors('caution')}" th:text="${err}" /></ul>
            </div>

            <div class="field">
              <label for="">Product comparison details PDF</label>
              <input type="text" name="comparison" th:value="*{comparison}" />
              <ul class="error"><li th:each="err : ${#fields.errors('comparison')}" th:text="${err}" /></ul>
            </div>

            <div class=" field">
              <label for="">Detail</label>
              <div id="json_detail"></div>
              <input type="hidden" id="save_detail" name="detail" th:value="*{detail}" />
              <ul class="error">
                <li th:each="err : ${#fields.errors('detail')}" th:text="${err}" /></ul>
            </div>

            <div class="field">
              <label for="">order</label>
              <input type="text" name="order" th:value="*{order}" />
              <ul class="error"><li th:each="err : ${#fields.errors('order')}" th:text="${err}" /></ul>
            </div>

            <div class="field">
              <label for="">Active</label>
              <input type="checkbox" name="active" value="on" th:field="*{active}" />
              <ul class="error">
                <li th:each="err : ${#fields.errors('active')}" th:text="${err}" /></ul>
            </div>

            <button class="ui tiny positive button" type="submit" id="form_save">
              <i class="save icon"></i>Save
            </button>
            <a th:if="${SessionScreenState.BackToList == true}" class="ui tiny button" th:href="@{|/login/admin/discontinued/series/?categoryId=${SessionScreenState.keyword}|}"><i class="list ul icon"></i>[[#{msg.return.list}]]</a>
            <a th:if="${SessionScreenState.BackToList == false}" class="ui tiny button" th:href="@{|/login/admin/discontinued/series/search?keyword=${SessionScreenState.keyword}|}"><i class="list ul icon"></i>[[#{msg.return.list}]]</a>

            <div>
              <!--debug(新規のときはidをパラメーターに入れない!!)-->
              id:<input type="text" name="id" th:if="*{id}" th:value="*{id}" />
              state:<input type="text" name="state" th:value="*{state}" />
              lang:<input type="text" name="lang" th:value="*{lang}" />
              stateRefId:<input type="text" name="stateRefId" th:value="*{stateRefId}" />
              langRefId:<input type="text" name="langRefId" th:value="*{langRefId}" />
            </div>
          </form>
        </div>

        <div class="column col_compare_dst" style="display:none">
          <h4 class="ui dividing header">
            <span id="compare_disp">en-jp</span>
            <a class="ui mini fitted label act_compare_close"><i class="x icon"></i>[[#{msg.close}]]</a>
          </h4>

          <!--form ja-jp -->
          <form  id="form_compare" name="form_compare"  class="ui small form">
            <div class=" field" >
              <label for="">Categoriy</label>
              <select class="custom-control-select" id="compare_category">
                <option value="">---</option>
                <option th:each="ca : ${listCategory}" th:if="${ca.name != 'root'}" th:value="${ca.id}">[[${ca.name}]]</option>
              </select>
            </div>
            <div class="field">
              <label for="">Discontinued Series Name</label>
              <input type="text" id="compare_seriesName" value="Pilot Operated 4/5 Port Solenoid Valves" />
            </div>
            <div class="field">
              <label for="">Discontinued SeriesID</label>
              <input type="text" id="compare_seriesId" value="VQC4000-old-e" />
            </div>
            <div class="field">
              <label for="">Discontinued name</label>
              <input type="text" id="compare_name" value="Pilot Operated 4/5 Port Solenoid Valves" />
            </div>
            <div class="field">
              <label for="">Discontinued Products</label>
              <input type="text" id="compare_series" value="series" />
            </div>
            <div class="field">
              <label for="">Replacement Products</label>
              <input type="text" id="compare_newSeries" value="series" />
            </div>
            <div class="field">
              <label for="">Time of discontinuation</label>
              <input type="text" id="compare_date" value="series" />
            </div>

            <div class="field">
              <label for="">Discontinued image</label>
              <input type="text" id="compare_image" value="" />
            </div>
            <div class="field">
              <label for="">Replacement image</label>
              <input type="text" id="compare_newImage" value="" />
            </div>
            <div class="field">
              <label for="">Discontinued catalogLink</label>
              <input type="text" id="compare_catalogLink" value="catalogLink" />
            </div>
            <div class="field">
              <label for="">Replacement catalogLink</label>
              <input type="text" id="compare_newCatalogLink" value="newCatalogLink" />
            </div>
            <div class="field">
              <label for="">manualLink</label>
              <input type="text" id="compare_manualLink" value="manualLink" />
            </div>
            <div class="field">
              <label for="">Mounting interchangeability</label>
              <input type="text" id="compare_compatibility" value="Mounting interchangeability" />
            </div>
            <div class="field">
              <label for="">other</label>
              <input type="text" id="compare_other" value="other" />
            </div>
            <div class="field">
              <label for="">Precautions</label>
              <input type="text" id="compare_caution" value="caution" />
            </div>
            <div class="field">
              <label for="">Product comparison details PDF</label>
              <input type="text" id="compare_comparison" value="PDF" />
            </div>

            <div class="required field">
              <label for="">Detail</label>
              <div id="json_compare_detail"></div>
              <input type="hidden" id="compare_detail"  />
            </div>
            <div class="field">
              <label for="">order</label>
              <input type="text" id="compare_order" value="order" />
            </div>
            <div class="required field">
              <label for="">Active</label>
              <input type="checkbox" id="compare_active" name="active" value="on"  />
            </div>

            <button class="ui tiny primary button" id="button_archive" >
              <i class="paste icon"></i>Back To Archive
            </button>
            <a th:if="${SessionScreenState.BackToList == true}" class="ui tiny button" th:href="@{|/login/admin/discontinued/series/${seriesForm.id}|}"><i class="list ul icon"></i>[[#{msg.return.list}]]</a>
            <a th:if="${SessionScreenState.BackToList == false}" class="ui tiny button" th:href="@{|/login/admin/discontinued/series/search?keyword=${SessionScreenState.keyword}|}"><i class="list ul icon"></i>[[#{msg.return.list}]]</a>
            <div>
              <!--debug(新規のときはidをパラメーターに入れない!!)-->
              id:<input type="text" name="id" id="compare_id" />
              state:<input type="text" name="state" id="compare_state" />
              lang:<input type="text" name="lang" id="compare_lang" />
              stateRefId:<input type="text" name="stateRefId" id="compare_stateRefId"  />
              langRefId:<input type="text" name="langRefId" id="compare_langRefId"  />
            </div>
          </form>
        </div>
      </div>

      <div class="ui vertical divider divider_compare" style="display:none">
        <i class="columns grey icon"></i>
      </div>
    </div>


	<div th:unless="${seriesForm.detail} and ${seriesForm.detail!=''} ">
    <!-- handsontable NEW -->
    <script>
	var grid = document.getElementById('json_detail');
	var saved = document.getElementById('save_detail');
	var width = 50;
	var hot = new Handsontable(grid, {
	    data: [
	    	 ['Series', 'End date', 'Replacement Series','SeriesID'],
	        ['NewA1', '1999/9/11', 'NewB1', 'A1'],
	        ['NewA2', '1999/8/12', 'NewB2', 'B2']
	    ],
	    contextMenu: true,
	    stretchH: 'all',
//		wordWrap: false,
		colWidths: width,
		licenseKey: 'non-commercial-and-evaluation'
	});
	$('#form_save').click(function(){
		saved.value=JSON.stringify( hot.getData());
	});
	</script>
	</div>
	<div th:if="${seriesForm.detail} and ${seriesForm.detail!=''} ">
    <!-- handsontable EDIT -->
	<script th:inline="javascript">
	var grid = document.getElementById('json_detail');
	var saved = document.getElementById('save_detail');
//	var edit = JSON.parse(/*[(${seriesForm.detail})]*/ 'test');
	var edit = [(${seriesForm.detail})];
	var width = 50;
	var hot = new Handsontable(grid, {
	    data: edit,
	    contextMenu: true,
	    stretchH: 'all',
//	    wordWrap: false,
		colWidths: width,
	    licenseKey: 'non-commercial-and-evaluation'
	});
	$('#form_save').click(function(){
		saved.value=JSON.stringify( hot.getData());
	});
	</script>
	</div>
	<div>
	<script>
	var hot2 = null;
	var grid2 = null;
	var edit2 = null;
	var width2 = 25;
	function compare_click() {
		 hot.updateSettings({
			stretchH: 'all',
//			wordWrap: false,
			colWidths: width2
		    });
		 hot.render();
		// alert(document.getElementById('compare_spec').value);
		 grid2 =  document.getElementById('json_compare_detail');
		 var dt = document.getElementById('compare_detail').value;
		 if (dt != null && dt != "") {
			 dt = dt.replace(/\t+/g, "");
			 console.log( typeof dt );
			 console.log(dt);
		 	edit2 = JSON.parse(dt);
			 console.log(edit2);
			 console.log(JSON.parse(JSON.stringify(edit2)));
		 }
		 if (hot2 != null ) {
			 hot2.destroy();
			 //alert('destroy');
		 }
		 //alert(hot2);
		 //alert(edit2);
		 if (edit2 == null || edit2 == "") {
			 hot2 = new Handsontable(grid2, {
			    data: [
			    	 ['Series', 'End date', 'Replacement Series','SeriesID'],
			    	 ['NewA1', '1999/9/11', 'NewB1', 'A1'],
				        ['NewA2', '1999/8/12', 'NewB2', 'B2']
			    ],
			    contextMenu: true,
			    stretchH: 'all',
//			    wordWrap: false,
				colWidths: width2,
				licenseKey: 'non-commercial-and-evaluation'
			});
		} else {
			 hot2 = new Handsontable(grid2, {
			    data: edit2,
//			    data: JSON.parse(JSON.stringify(edit2)),
			    contextMenu: true,
			    stretchH: 'all',
//			    wordWrap: false,
				colWidths: width2,

			    licenseKey: 'non-commercial-and-evaluation'
			});
		}
    }
	function compare_close_click() {
    	hot2.destroy();
    	hot2 = null;
    	hot.render();
    }
	</script>
	</div>


  <!-- DEBUG:  -->
  <p class="ui top attached block header">
  <span><i class="bug icon"></i>debug</span>&nbsp;&nbsp;&nbsp;<span class="right floated "><button id="debug_button" class="ui black button">Disp</button> </span>
  </p>

  <div id="debug_disp" class="ui bottom attached segment" style="display:none">
	<!-- seriesForm.id があればdebug -->
    <div th:if="${seriesForm.id}">
        <a th:href="@{|/login/admin/discontinued/api/series/${seriesForm.id}|}" id="json_url"></a>
        <div class="jsoncode ui" id="json-renderer"></div>
        <script>
          $(function () {
            getJSONAndRendar($("#json_url").attr("href"), "json-renderer");
          });
        </script>
    </div>

  </div> <!-- end segment -->
	<div>
	<script th:inline="javascript">
	var grid = document.getElementById('debug_disp');
	$('#debug_button').click(function(){
		console.log($('#debug_disp').css('display'));
		if ($('#debug_disp').css('display') == "none") {
			$('#debug_disp').css('display', 'block');
		} else {
			$('#debug_disp').css('display', 'none');
		}
	});
	</script>
	</div>
	<!-- DEBUG:  -->


</div><!-- end contents -->
</body>
</html>
