<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/base}">

<head>
<link href="https://www.smcworld.com/css/common.css" rel="stylesheet" type="text/css" />
<link href="https://www.smcworld.com/header/header.css" rel="stylesheet" type="text/css" />
<script src="https://www.smcworld.com/assets/js/switching404.js"></script>
<title>Error</title>
</head>
<body>

<div layout:fragment="contents">
<div id="main">

                <div id="com_header">
                        <a href="https://www.smcworld.com/" class="smclogo"><img src="https://www.smcworld.com/header/images/smclogo.jpg" alt="SMC株式会社" title="SMC株式会社" /></a>

                        <div id="com_header_right">
                                <div id="com_link_line">

                                </div>
                        </div>
                </div>

                <div class="error_page">

                        <h2><span th:text="${status}">404 </span>Error.</h2>
                        <p>エラーが発生しました</p>
                        <p><br />
                                <br />
                                <a href="https://www.smcworld.com/">→Home</a>
                        </p>

                </div>
<div id="footmenu">
</div>
<div id="footer">
&nbsp;
</div>
</div>


</div><!-- end contents -->

</body>
</html>
